@import './assets/css/color.css';
@import './assets/css/font.css';

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
    /** 
     * spacing
     */

    --section-padding: 90px;

    /**
     * border radius
     */

    --radius-circle: 50%;
    --radius-pill: 100px;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-7: 7px;
    --radius-8: 8px;
    --radius-10: 10px;

    /**
     * transition
     */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 0.3s ease-in-out;

    /**
     * shadow
     */

    --shadow-1: 0px 4px 14px 0px #0000000D;
    --shadow-2: 0px 0px 80px 0px #CBCBCB40;
    --shadow-3: 11px 130px 100px 30px #00000005;
    --shadow-4: 0px 9px 24px 8px #54A02929;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

html {
    font-family: var(--ff-dmSans);
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-background-white);
    font-size: 1rem;
    line-height: 1.3;
}

.container {
    padding-inline: 15px;
}

.section {
    padding-block: var(--section-padding);
}

.has-bg-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.has-before,
.has-after {
    position: relative;
    z-index: 1;
}

.has-before::before,
.has-after::after {
    content: "";
    position: absolute;
}

.has-after:is(:nth-child(even))::after {
    display: none;
}

.has-after:is(:last-child)::after {
    display: none;
}

.btn {
    display: block;
    color: var(--color-text-white);
    font-size: 16px;
    font-weight: var(--fw-600);
    max-width: max-content;
    padding: 12px 44px;
    border-radius: var(--radius-4);
    transition: var(--transition-1);
    will-change: transform;
}

.btn:is(:hover, :focus-visible) {
    transform: translateY(-4px);
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-text-white);
}

.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-text-white);
}

.btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.flex-btn {
    display: flex;
    align-items: center;
    gap: 22px;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.section-subtitle {
    display: flex;
    align-items: center;
    gap: 8px;
}

.subtitle-icon {
    display: flex;
    align-items: center;
}

.subtitle-content {
    font-size: 24px;
    color: var(--color-secondary);
    font-weight: var(--fw-700);
    letter-spacing: 0.5em;
    line-height: 2;
}

.section-title {
    font-size: 56px;
    color: var(--color-text-black);
    font-weight: var(--fw-700);
    text-transform: capitalize;
    line-height: 1;
}

.section-content {
    font-size: 16px;
    color: var(--color-text-black);
    text-transform: capitalize;
    line-height: 1.8;
    opacity: 0.8;
}

.grid-list {
    display: grid;
    gap: 25px;
}

.progress-item:not(:last-child) {
    margin-bottom: 20px;
}

.progress-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-title,
.progress-data {
    color: #08151F;
    font-size: 18px;
    font-weight: var(--fw-500);
}

.progress-bar {
    margin-top: 17px;
    width: 100%;
    height: 12px;
    background: #F6F4F2;
    border-radius: var(--radius-6);
    overflow: hidden;
}

.progress {
    width: var(--width, 100%);
    height: 100%;
    background: var(--color-primary);
    border-radius: var(--radius-6);
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--color-background-white);
    overflow: hidden;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 24px;
    z-index: 4;
}

.header .container {
    font-family: var(--ff-museoModerno);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.logo {
    display: flex;
    align-items: flex-end;
}

.logo-name {
    font-size: 36px;
    font-weight: var(--fw-700);
    color: var(--color-text-white);
}

.navbar {
    display: none;
}

.navbar-link {
    font-weight: var(--fw-600);
    color: var(--color-text-white);
    transition: var(--transition-2);
}

.navbar-link:hover {
    color: var(--color-secondary);
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
    padding-block-start: calc(var(--section-padding) + 50px);
}

.hero-subtitle {
    font-size: 13px;
    color: var(--color-secondary);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.hero-title {
    font-size: 65px;
    color: var(--color-text-white);
    font-weight: var(--fw-700);
    text-transform: capitalize;
}

.hero-text {
    font-size: 16px;
    color: var(--color-text-white);
    margin-block: 34px;
    line-height: 2;
}

.hero .flex-btn .span {
    color: var(--color-text-white);
    font-size: 14px;
    font-weight: var(--fw-700);
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about .container {
    display: grid;
    gap: 70px;
}

.about .section-title {
    margin-block-end: 34px;
}

.about .section-content {
    padding-inline-end: 30px;
}

.about-list {
    padding-block: 36px;
}

.about-card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block-end: 12px;
}

.about-btn {
    padding: 18px 46px;
}

/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service .section-subtitle {
    justify-content: center;
}

.service .section-title {
    margin-block-end: 16px;
}

.service .section-content {
    margin-block: 22px 60px;
}

.service .grid-list {
    grid-template-columns: repeat(2, 1fr);
}

.service-list .has-after::after {
    top: 25px;
    right: -14px;
    width: 1px;
    height: 122px;
    border-radius: 50%;
    background-color: #D2D5D9;
}

.service-card {
    padding: 28px;
    border-radius: var(--radius-7);
    cursor: pointer;
}

.service-card:is(:hover, :focus) {
    box-shadow: var(--shadow-1);
}

.service-card .card-icon {
    width: 65px;
    height: 65px;
    margin-inline: auto;
}

.service-card .card-text {
    font-size: 18px;
    font-weight: var(--fw-700);
    margin-block: 20px 16px;
}



/*-----------------------------------*\
  #VISION
\*-----------------------------------*/

.vision .container {
    display: grid;
    gap: 40px;
}

.vision .section-title {
    padding-block-end: 22px;
}

.vision .section-content {
    padding-block: 9px;
}

.vision .subtitle-content {
    font-weight: var(--fw-500);
}

.vision .btn {
    margin-block-start: 22px;
}

.vision .btn-wrapper {
    gap: 18px;
}

/*-----------------------------------*\
  #OFFER
\*-----------------------------------*/

.offer .section-subtitle {
    justify-content: center;
}

.offer .section-title {
    margin-block-end: 16px;
}

.offer .section-content {
    margin-block: 22px 60px;
}

.offer .subtitle-content {
    font-weight: var(--fw-500);
}

.offer-list {
    display: grid;
    gap: 40px;
}

.offer-card {
    display: flex;
    gap: 12px;
    padding: 24px;
    background-color: var(--color-background-white);
    border-radius: var(--radius-8);
    box-shadow: var(--shadow-2);
}

.offer-card .card-content {
    text-align: left;
}

.offer-card .card-title {
    font-size: 32px;
    font-weight: var(--fw-700);
    padding-block-end: 20px;
}

.offer-card .card-text {
    color: #575757;
    padding-block-end: 14px;
}

/*-----------------------------------*\
  #PRODUCTS
\*-----------------------------------*/

.product-list {
    display: grid;
    align-items: center;
    gap: 16px;
}

.product-content .subtitle-content {
    font-size: 18px;
    font-weight: var(--fw-500);
}

.product-content .section-title {
    font-size: 56px;
}

.product-content .section-content {
    padding-inline-end: 73px;
    padding-block: 28px 42px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 400px;
    padding: 40px;
    color: var(--color-text-white);
}

.product-card .card-title {
    font-size: 24px;
    font-weight: var(--fw-700);
}

.product-card .card-description {
    font-weight: var(--fw-700);
    padding-block: 4px 54px;
    opacity: 0.6;
}

.product-card .flex-btn {
    gap: 17px;
}

.product-card .span {
    color: var(--color-text-white);
}

/*-----------------------------------*\
  #CUSTOMER
\*-----------------------------------*/

.customer .section-subtitle {
    justify-content: center;
}

.customer .subtitle-content {
    font-size: 18px;
    font-weight: var(--fw-500);
}

.customer-slider {
    padding-block: 43px 120px;
}

.customer-slider .slider-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 39px;
}

.customer-slider .slider-btn {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border-radius: var(--radius-circle);
    color: var(--color-text-black);
}

.customer-slider .slider-btn:is(:hover, :focus-visible) {
    color: var(--color-text-white);
    background-color: var(--color-secondary);
}

.customer-card {
    padding: 40px 70px;
    background-color: var(--color-background-white);
    box-shadow: var(--shadow-3);
    border: 1px solid rgba(172, 172, 172, 0.29);
    border-radius: var(--radius-8);
    text-align: left;
}

.customer-card .card-header {
    display: flex;
    gap: 14px;
    padding-block: 20px;
}

.customer-card .card-image {
    width: 58px;
    height: 58px;
    border-radius: var(--radius-circle);
}

.customer-card .card-name {
    font-size: 20px;
    font-weight: var(--fw-700);
}

.customer-card .card-location {
    color: var(--color-text-grey);
}

.customer-card .card-description {
    color: var(--color-text-grey);
    letter-spacing: 2px;
    line-height: 2;
}

.customer-navigation {
    padding-block-start: 60px;
}

.customer-btn {
    text-align: end;
}

/*-----------------------------------*\
  #GROWING
\*-----------------------------------*/

.growing {
    background-color: #F8F6F4;
    margin-block-end: 120px;
}

.growing .container {
    position: relative;
    display: grid;
    align-items: end;
    overflow: hidden;
}

.growing-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 570px;
    height: 570px;
    display: none;
}

.growing-content {
    background-color: var(--color-background-white);
    padding: 60px 90px;
    margin-block-start: 94px;
    z-index: 1;
}

.growing-content .subtitle-content {
    font-size: 18px;
    font-weight: var(--fw-500);
}

.growing-content .section-content {
    padding-block: 32px 56px;
    color: #14212B;
    opacity: 0.8;
}

.growing-experience {
    width: 230px;
    height: 135px;
    background-color: var(--color-secondary);
    color: var(--color-background-white);
    border-radius: var(--radius-8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-inline: auto;
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 40px;
    z-index: 2;
}

.growing-experience .experience-year {
    font-size: 48px;
}

.growing-experience .experience-text {
    font-size: 18px;
}

.growing .progress-item {
    max-width: 477px;
}

/*-----------------------------------*\
  #PROVIDE
\*-----------------------------------*/

.provide {
    background-color: rgba(84, 160, 41, 0.81);
}

.provide-content {
    padding-block-start: 120px;
    padding-block-end: 94px;
}

.provide .section-title {
    color: var(--color-text-white);
}

.provide .section-content {
    margin-inline: auto;
    padding-block: 22px 33px;
    color: var(--color-text-white);
}

.provide .btn {
    margin-inline: auto;
    border-radius: var(--radius-8);
}

/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog .section-subtitle {
    justify-content: center;
}

.blog .section-title {
    margin-block-end: 16px;
}

.blog .section-content {
    margin-block: 22px 60px;
}

.blog .subtitle-content {
    font-weight: var(--fw-500);
}

.blog-card {
    background-color: var(--color-background-white);
    border-top-left-radius: var(--radius-10);
    border-top-right-radius: var(--radius-10);
    box-shadow: var(--shadow-2);
    overflow: hidden;
}

.blog-card .card-content {
    padding: 20px;
    text-align: left;
    background-color: var(--color-background-white);
}

.blog-card .card-item {
    font-size: 18px;
    font-weight: var(--fw-500);
    color: var(--color-primary);
}

.blog-card .card-title {
    font-size: 24px;
    font-weight: var(--fw-700);
    max-width: 310px;
    text-transform: capitalize;
    padding-block: 14px;
}

.blog-card .card-text {
    color: #14212B;
    opacity: 0.8;
}

.blog-card .btn-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    margin-block-start: 25px;
}

.blog-card .btn-text .span {
    font-weight: var(--fw-700);
    color: var(--color-text-black);
}

.blog-card .btn-text .icon {
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    border-radius: var(--radius-4);
    color: var(--color-text-white);
    font-weight: var(--fw-700);
    font-size: 18px;
    box-shadow: 0px 5px 13px 0px #54A02940;
}

/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.contact .section-subtitle {
    justify-content: center;
}

.contact .section-title {
    margin-block-end: 60px;
}

.contact-content {
    display: grid;
    gap: 90px;
}

.contact-about .section-content {
    text-align: left;
    color: #14212B;
    opacity: 0.8;
}

.contact-banner {
    position: relative;
    display: none;
}

.contact-banner .banner-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 278px;
    height: 204px;
    z-index: 1;
    border-radius: var(--radius-8);
}

.contact-banner .banner-2 {
    position: absolute;
    top: 60px;
    left: 138px;
    width: 432px;
    height: 238px;
    border-radius: var(--radius-8);
}

.contact-form {
    padding: 40px;
    background-color: #F8F6F4;
    border-radius: var(--radius-8);
    text-align: left;
}

.contact-form h2 {
    font-size: 48px;
    font-weight: var(--fw-700);
    padding-block-end: 40px;
}

.contact-form label {
    font-size: 16px;
    color: var(--color-text-body);
}

.contact-form input[type=text] {
    width: 100%;
    padding: 16px;
    background-color: var(--color-background-white);
    border-radius: var(--radius-8);
    font-size: 16px;
    margin-block: 8px 24px;
    outline: none;
}

.contact-form input[type=submit] {
    padding: 16px 48px;
    background-color: var(--color-secondary);
    border-radius: var(--radius-8);
    font-size: 14px;
    font-weight: var(--fw-500);
    color: var(--color-text-white);
}

.contact-form input::placeholder {
    color: '#999999';
}

.contact-form textarea {
    width: 100%;
    height: 120px;
    padding: 16px;
    background-color: var(--color-background-white);
    border-radius: var(--radius-8);
    font-size: 16px;
    margin-block: 8px 24px;
    border: none;
    resize: none;
    outline: none;
}

.contact-form textarea::placeholder {
    color: '#999999';
    font-family: var(--ff-dmSans);
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
    background-color: #0C1908;
    color: var(--color-text-white);
    margin-block-start: 120px;
}

.footer-top {
    padding-block: 120px 50px;
}

.footer .logo-name {
    font-family: var(--ff-museoModerno);
}

.bard-text {
    max-width: 288px;
    padding-block: 26px 32px;
}

.bard-list .btn-link,
.bard-address {
    display: flex;
    align-items: center;
    gap: 14px;
}

.bard-list .btn-link {
    margin-bottom: 20px;
}

.bard-list .btn-link span,
.bard-address span {
    color: var(--color-text-white);
    font-weight: var(--fw-700);
}

.footer-list-title {
    font-size: 24px;
    margin-block-end: 16px;
}

.footer-link {
    line-height: 2.4;
    color: var(--color-text-white);
    transition: var(--transition-2);
}

.footer-link:hover {
    color: var(--color-primary);
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-list li:not(:last-child) .footer-item {
    margin-bottom: 16px;
}

.footer-item .item-time {
    font-size: 12px;
    opacity: 0.5;
}

.footer-bottom .container {
    padding-block: 21px;
    border-block-start: 1px solid #747171;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.copyright {
    font-size: 13px;
    color: #D4D4D4;
    margin-inline-start: 18px;
}

.social-list {
    display: flex;
    gap: 18px;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

    /**
     * REUSED STYLE
     */

    .container {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }

    /**
     * GROWING
     */

    .growing-experience {
        width: 272px;
    }


    /**
     * CONTACT
     */

    .contact .section-title {
        max-width: 498px;
        margin-inline: auto;
    }
}

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

    /**
     * CUSTOM PROPERTY
    */

    :root {

        /**
     * spacing
     */

        --section-padding: 120px;
    }

    /**
     * REUSED STYLE
     */

    .container {
        max-width: 720px;
    }

    .btn {
        padding: 16px 31px
    }

    .has-after:is(:nth-child(even))::after {
        display: block;
    }

    /**
     * HERO
     */

    .hero-content {
        max-width: 785px;
    }

    /**
     * SERVICE
     */

    .service .grid-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .service .section-content.text-center {
        max-width: 695px;
        margin-inline: auto;
    }

    /**
     * OFFER
     */

    .offer .section-content.text-center {
        max-width: 695px;
        margin-inline: auto;
    }

    /**
     * PRODUCTS
     */

    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }

    /**
     * BLOG
     */

    .blog .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog .section-content {
        max-width: 696px;
        margin-inline: auto;
    }

    /**
     * PROVIDE
     */

    .provide .section-content {
        width: 510px;
    }

    /**
     * CONTACT
     */

    .contact .section-title {
        max-width: 719px;
        margin-inline: auto;
    }

    /**
     * FOOTER
     */

    .footer .grid-list {
        grid-template-columns: 1fr 1fr;
    }

    .footer-bottom .container {
        flex-direction: row;
    }

    .social-list {
        margin-inline-end: 122px;
    }
}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

    /**
     * REUSED STYLE
     */

    .container {
        max-width: 960px;
    }

    .btn-wrapper {
        justify-content: flex-start;
    }

    /**
     * HEADER
     */

    .navbar {
        display: block;
        margin-inline: auto 60px;
        padding-block: 52px;
    }

    .navbar-list {
        display: flex;
        gap: 45px;
    }

    /**
     * HERO
     */

    .hero {
        padding-block-start: calc(var(--section-padding) + 160px);
    }

    .hero.text-center {
        text-align: left;
    }

    /**
     * ABOUT
     */

    .about .container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    /**
     * VISION
     */

    .vision .container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    /**
     * OFFER
     */

    .offer-list {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    /**
     * CUSTOMER
     */

    .customer .section-title {
        max-width: 822px;
        margin-inline: auto;
    }

    .customer-slider .slider-container {
        flex-direction: row;
    }

    /**
     * GROWING
     */

    .growing {
        margin-block-end: 352px;
    }

    .growing .container {
        grid-template-columns: 0.7fr 1fr;
    }

    .growing-image {
        display: block;
    }

    .growing-experience {
        position: relative;
        height: 172px;
        top: 0;
        right: 0;
        left: 0;
    }

    /**
     * PROVIDE
     */

    .provide-content {
        padding-block-start: 233px;
    }

    .provide .section-content {
        width: 510px;
        margin-inline: auto;
    }

    /**
     * CONTACT
     */

    .contact-content {
        grid-template-columns: 1fr 0.8fr;
    }

    .contact-banner {
        display: block;
    }

    .contact-banner .banner-2 {
        width: 380px;
    }

    /**
     * FOOTER
     */

    .footer .grid-list {
        grid-template-columns: 1fr 0.8fr 0.8fr 1fr;
    }
}

/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

    /**
     * REUSED STYLE
     */

    .container {
        max-width: 1140px;
    }

    /**
     * HERO
     */

    .hero-text {
        padding-inline-end: 169px;
    }

    /**
     * PRODUCTS
     */

    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }

    /**
     * SERVICE
     */

    .service .grid-list {
        grid-template-columns: repeat(5, 1fr);
    }

    /**
     * BLOG
     */

    .blog .grid-list {
        grid-template-columns: repeat(3, 1fr);
    }

    /**
     * CONTACT
     */


}

/**
 * responsive for large than 1400px screen
 */

@media (min-width: 1400px) {

    /**
     * REUSED STYLE
     */

    .container {
        max-width: 1320px;
    }
}