$color-background-white: #ffffff;
$color-text-black: #1e1b1b;
$color-text-grey: #939191;
$color-text-body: #666666;
$color-text-title: #333333;
$color-text-white: #ffffff;
$color-secondary: #f5ab48;
$color-primary: #54a029;
