:root {
    --color-background-white: #FFFFFF;
    --color-text-black: #1E1B1B;
    --color-text-grey: #939191;
    --color-text-body: #666666;
    --color-text-title: #333333;
    --color-text-white: #FFFFFF;
    --color-secondary: #F5AB48;
    --color-primary: #54A029;
}